<html>
<head>
    <link rel="stylesheet" href="css-js/jquery.mobile-1.1.1.css"/>
    <script src="css-js/jquery-1.7.1.js"></script>
    <script src="css-js/jquery.mobile-1.1.1.js"></script>
    <script type="text/javascript" src="css-js/mustache.js"></script>
    <!-- http://forum.jquery.com/topic/how-to-remove-the-300ms-delay-when-clicking-on-a-link-in-jquery-mobile -->
    <script type="text/javascript" src="css-js/fastclick.js"></script>
    <style type="text/css">
        .ui-page {
            background: black;
        }

        /*.ui-page, .ui-active-page, .ui-content {*/
            /*min-height: 100px;*/
        /*}*/

        .ui-mobile, .ui-mobile body {
            height: auto;
        }

        .ui-mobile, .ui-mobile .ui-page {
            min-height: 100px;
        }

        table {
            color: white;
        }
    </style>
</head>
<body onload="initFastButtons()">
<div id="fastclick">
<div data-role="page" data-theme="a" id="page1">

    <!-- {{{ Remove before deploy! -->
    <!--<div style="display: inline;">-->
        <!--<input type="text" id="nametofind" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" style="-->
                <!--float: left;-->
                <!--width: 200px;-->
            <!--"><a data-role="button" id="find" data-corners="true" data-shadow="true" data-iconshadow="true"-->
                 <!--data-wrapperels="span"-->
                 <!--data-theme="c" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" style="-->
                <!--float: left;-->
                <!--width: 100px;-->
                <!--margin-left: 20px;-->
            <!--"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Find</span></span></a>-->
    <!--</div>-->
    <!--<div style="clear: both;"></div>-->
    <!-- Remove before deploy }}} -->

    <div data-role="content" id="content" style="padding: 15px">
        <!--<div data-role="collapsible-set" data-theme="a" data-content-theme="a">-->
            <!--<div data-role="collapsible" data-collapsed="">-->
                <!--<h3>-->
                    <!--Section Header-->
                <!--</h3>-->
                <!--<p>-->
                    <!--Heading-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
    </div>
<script type="text/javascript">
    var mustache = '{{#descriptions}}\
                <div data-role="collapsible-set" data-theme="a" data-content-theme="a">\
                            <div data-role="collapsible" data-collapsed="true">\
                                    <h3 id="title_{{index}}">{{title}}</h3>\
                                    <p>{{& description}}</p>\
                            </div>\
                </div>\
                {{/descriptions}}',
            contentDiv = $("#content");

    var translations = {
        'nothing_found': {
            'default': 'Nothing found.',
            'ru': 'Описание не найдено.'
        }
    };

    function showValue(val) {
        $.ajax({
            url:"http://droid.ssidelnikov.ru/medicine.php",
            dataType:"json",
            data:{
                "level":3,
                "itemid":val
            },
            success:function (data) {
                fillData(data);
            }
        });
    }

    function fillData(jsonData) {
        var result = jsonData["result"];
                html = Mustache.to_html(mustache, result);
        if(html == "") {
            html = translate("nothing_found");
        }
        contentDiv.html(html).trigger("create");

        if(typeof AndroidInteraction != 'undefined') {
            AndroidInteraction.onDataRendered();
        }
    }

    function resetView() {
        contentDiv.html(translate("nothing_found"));
    }

    function translate(message) {
        var lang = 'default';
        if(typeof AndroidInteraction != 'undefined') {
            console.log("Getting language...");
            lang = AndroidInteraction.getLanguage();
        }
        console.log("Language: " + lang);
        if(!translations.hasOwnProperty(message)) {
            return message;
        }
        var el = translations[message];
        if(!el.hasOwnProperty(lang)) {
            if(el.hasOwnProperty('default')) {
                return el['default'];
            } else {
                return message;
            }
        } else {
            return el[lang];
        }
    }

    $(document).ready(function () {
        if(typeof AndroidInteracrion == 'undefined') {
//            showValue(297240);
            showValue(297899);
        }
    });

    // {{{ Remove before deploy!
//    $("#find").on('click', function () {
//        showValue($("#nametofind").val());
//    });
    // Remove before deploy }}}



    // Under development >>>

//    var prevPos = 0;
//    $(document).on('scroll', function() {
//        var element = $("#title_1 > a");
//        var docViewTop = $(window).scrollTop();
//        var elemTop = element.css('position') == 'fixed' ? prevPos : element.offset().top;
//        if(elemTop < docViewTop) {
//            element.css({'position':'fixed', 'top':'5px', 'z-index': '999'});
//            prevPos = elemTop;
//        } else {
//            element.css({'position':'static'});
//        }
//    });

    // <<< Under development

</script>
</body>
</html>
