html{
	height: 100%;
}
body {
 font-family: "Myriad Pro";
 height: 100% !important;
 min-height: 100% !important;
 background: rgb(255,255,255); 
 background: -moz-linear-gradient(top,  rgb(213,242,196) 0%, rgb(255,255,255) 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(213,242,196)), color-stop(100%,rgb(255,255,255)));
 background: -webkit-linear-gradient(top,  rgb(213,242,196) 0%,rgb(255,255,255) 100%);
 background: -o-linear-gradient(top,  rgb(213,242,196) 0%,rgb(255,255,255) 100%) !important;
 background: -ms-linear-gradient(top,  rgb(213,242,196) 0%,rgb(255,255,255) 100%);
 background: linear-gradient(to bottom,  rgb(213,242,196) 0%,rgb(255,255,255) 100%);
 background-position: left top !important;
 background-repeat: repeat-x !important;	background: linear-gradient(to bottom,  rgb(213,242,196) 0%,rgb(255,255,255) 100%);
}

h2, h3{
	color: #006400;
	margin: 5px;
	font-size: 18pt;
	text-shadow: 1px 1px 2px rgba(0,0,0,.20);
	font-weight: 600;
}
h3{ 
	font-weight: normal;
}

div.address {
	color: #003700;
	margin: 5px 0 15px 25px;
	text-shadow: 0 0 2px rgba(0,0,0,.33);
	font-size: 13pt;
}

#worktime {
	list-style: none;
	margin: 0 auto;
	padding:  0;
	display: table;
	width: 90%;
	color:  #003700;
	text-shadow: 0 0 2px rgba(0,0,0,.33)
}

#worktime  li {
	display: table-row;
	white-space: nowrap;
	padding: 3px 5px;
}

#worktime span {
	display: table-cell;
	text-align: center;
	padding: 5px  5px 5px 0px;
	font-size: 15pt;
	border-bottom: 1px solid #00C800;
}

#worktime span:first-child {
	font-weight: bold;
	text-align: left;
	font-size: 11pt;
	padding: 5px  0px  5px 20px;
}

.today{
	color: #007B00;
}